body {
    font-family: Verdana;
}
.damage-category-block, .Type {
    display: block;
    height: 2em;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    width: 4.5em;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 4px 0px;
}

.Type {
    color: #fff ;
    text-decoration: none;
}

.Type.normal {
    background: linear-gradient(#a8a878,#8a8a59);
    border-color: #79794e;
}

.Type.fire {
    background: linear-gradient(#f08030,#dd6610);
    border-color: #b4530d;
}

.Type.water {
    background: linear-gradient(#6890f0,#386ceb);
    border-color: #1753e3;
}

.Type.electric {
    background: linear-gradient(#f8d030,#f0c108);
    border-color: #c19b07;
}

.Type.fairy {
    background: linear-gradient(#F98CFF,#F540FF);
    border-color: #c1079b;
}

.Type.grass {
    background: linear-gradient(#78c850,#5ca935);
    border-color: #4a892b;
}

.Type.ice {
    background: linear-gradient(#98d8d8,#69c6c6);
    border-color: #45b6b6;
}

.Type.fighting {
    background: linear-gradient(#c03028,#9d2721);
    border-color: #82211b;
}

.Type.poison {
    background: linear-gradient(#a040a0,#803380);
    border-color: #662966;
}

.Type.ground {
    background: linear-gradient(#e0c068,#d4a82f);
    border-color: #aa8623;
}

.Type.flying {
    background: linear-gradient(#a890f0,#9180c4);
    border-color: #7762b6;
}

.Type.psychic {
    background: linear-gradient(#f85888,#f61c5d);
    border-color: #d60945;
}

.Type.bug {
    background: linear-gradient(#a8b820,#8d9a1b);
    border-color: #616b13;
}

.Type.rock {
    background: linear-gradient(#b8a038,#93802d);
    border-color: #746523;
}

.Type.ghost {
    background: linear-gradient(#705898,#554374);
    border-color: #413359;
}

.Type.dragon {
    background: linear-gradient(#7038f8,#4c08ef);
    border-color: #3d07c0;
}

.Type.steel {
    background: linear-gradient(#b8b8d0,#9797ba);
    border-color: #7a7aa7;
}

.Type.dark {
    background: linear-gradient(#705848,#513f34);
    border-color: #362a23;
}

.Type.stellar {
    background: url("https://www.smogon.com/__assets/dex/stellar-MZZL7FQV.svg");
    background-size: cover;
    border-color: #3f00ff
}

.Type.question {
    background: linear-gradient(#68a090,#4e7c6f);
    border-color: #41685d
}
pkmn {
    display: block;
    background: #eeeeee;
    width: 18%;
    margin: 20px auto;
    height: 100px;
    text-align: center;
    border: blanchedalmond 5px solid;
    border-radius: 16px;
    filter: drop-shadow(0px 3px 6px gray);
    transition: transform 80ms ease-out, filter 80ms ease-out;
    user-select: none;
    cursor: pointer;
}
pkmn:hover {
    transform: translate(0px, -4px);
    filter: drop-shadow(0px 5px 6px black);
}

pkmn:active {
    transform: translate(0px, 2px);
    filter: drop-shadow(0px 5px 6px black);
}
pkmn span {
    font-size: 1.6rem;
    position: relative;
    top: 5%;
}

pkmn a {
    position: relative;
    left: 75%;
    top: 2%;
}
pkmn h1 {
    font-size: 24px;
    position: relative;
    top: -170px;
    left: 0%;
}
pkmn sub {
    position: relative;
    top: -185px;
}
pkmn entry {
    display: block;
    margin: 0px 8px;
    position: relative;
    top: -90px;
}
pkmn:has(img) {
    width: 55%;
    height: 20%;
}
pkmn:has(img) a {
    top: 10px;
    left: 82%;
}
pkmn:has(img) a:nth-child(2) {
    top: -22px;
    left: 90%;
}
pkmn img {
    width: 120px;
    position: relative;
    top: -110px;
    left: -39%;
}
pkmn img[src*="shiny"] {
    top: -50px;
    left: -51%;
}
no {
    display: none;
}
button.moveset {
    display: block;
    margin: 10px auto;
}
